@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#f3be11;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.711);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   border-radius: 40px;
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--main-color);
   color: var(--black);
}

.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--black);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--white);
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--white);
}

.header .navbar a:hover{
   color:var(--main-color);
   text-decoration: none;
}

.header .navbar a:active{
   color:var(--main-color);
   text-decoration: none;
}

.header .navbar #logout{
   color: red;
}

.header .navbar #logout:hover{
   color: var(--main-color);
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

/* ----------------- HOME ----------------------------- */
.home{
   width: 100%;
   height: 90vh;
   padding: 60px 0;
   background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/sekolahhome.jpg);
   background-size: cover;
   text-align: center;
}
.home .content{
   padding-top: 200px ;
}
.home .content h1{
   font-size: 70px;
   color: var(--main-color);
   text-shadow: 2px 2px #eee;
}

.home .content p{
   font-size: 20px;
   color: var(--white);
}








/* -------------------- ABOUT PAGE ----------------------- */
.about img{
	margin-top: -50px;
}
.about i{
	font-size: 26px;
}
.about i:hover{
   color: #222;
}

.about .card{
	border-radius: 0;
	box-shadow: 5px 5px 15px #e74c3c;
	transition: all 0.3s ease-in;
}

.about .card:hover{
	background-color: var(--main-color);
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 5px 5px 15px #9E9E9E;
}

.about .card:hover h3, .about .card:hover i{
	color: #fff;
}




/* -------------------- SEKOLAH PAGE ----------------------- */

.sekolah .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.sekolah .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
   border-radius: 20px;
}

.sekolah .box-container .box img{
   border-radius: 20px;
}

.sekolah .box-container .box:nth-child(1),
.sekolah .box-container .box:nth-child(2),
.sekolah .box-container .box:nth-child(3),
.sekolah .box-container .box:nth-child(4),
.sekolah .box-container .box:nth-child(5),
.sekolah .box-container .box:nth-child(6),
.sekolah .box-container .box:nth-child(7),
.sekolah .box-container .box:nth-child(8),
.sekolah .box-container .box:nth-child(9),
.sekolah .box-container .box:nth-child(10),
.sekolah .box-container .box:nth-child(11),
.sekolah .box-container .box:nth-child(12),
.sekolah .box-container .box:nth-child(13),
.sekolah .box-container .box:nth-child(14),
.sekolah .box-container .box:nth-child(15),
.sekolah .box-container .box:nth-child(16),
.sekolah .box-container .box:nth-child(17),
.sekolah .box-container .box:nth-child(18){
   display: inline-block;
}

.sekolah .box-container .box:hover .image img{
   transform: scale(1.1);
}

.sekolah .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.sekolah .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.sekolah .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.sekolah .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.sekolah .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}


/* ------------------------- DATA ----------------------- */
.data{
   font-size: 20px;
   padding: 20px 20px;
   background-image: url(../images/sekolahhome.jpg);
}

.data .card-data{
   padding: 50px 50px;
   margin: 70px 70px;
   background-color: rgb(253, 251, 248);
   border: 3px solid black;
   border-radius: 20px;
}
.data .card-data .form-group{
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.data .card-data .form-group .form-control{
   color: #222;
   padding: 15px 15px;
}

.data .card-data thead{
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.data .btn{
   font-size: 20px;
}
.data .form-control{
   font-size: 20px;
}









/* --------------------------- FOOTER --------------------------- */

.footer{
   background: url(../images/footer-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:var(--light-white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--main-color);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--main-color);
}















/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
      color: var(--white);
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
      color: var(--white);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--black);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }

}